#requirements.txt

# Core libraries
cryptography
aiohttp
openai

# Machine learning and NLP libraries
transformers
torch
emoji

# Additional libraries for specific functionality
Pillow
diffusers
scipy

# API Libraries
discord
pyrogram
